
@{
    ViewBag.Title = "MantenimientoTablas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default" id="panelTablas" style="margin-top:2%">
    <div class="panel panel-heading" style="text-align: center;">
        <strong>Mantenimientos de Tablas</strong>
        <a title="Regresar" style="float:right; margin:-1%" href="/Mantenimientos/MantenimientoIndex/" class="btn btn-success glyphicon glyphicon-circle-arrow-left"></a>
    </div>

    <div class="panel panel-body">
        <div class="col-lg-12">
            <div class="col-lg-4">
                <label>Descripción:</label>
                <input type="text" name="txtDescripcion" class="form-control GeneralForm " id="txtDescripcion" />
            </div>
            <div class="col-lg-4">
                <label>URLs:</label>
                <input type="text" name="txtUrls" class="form-control GeneralForm" id="txtUrls" />
            </div>
            <div class="col-lg-4" style="padding:initial;  ">
                <br />
                <a class="btn btn-primary btnSave" style="width: 25% "> Guardar</a>
                <a class="btn btn-primary btnEdit" style="width: 25%; display:none;"> Editar</a>

            </div>
            <br />
        </div>
        <br />
        <table class="table table-responsive" id="tblMantenimientos">
            <!--Cabecera de las columnas-->
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Descripción</th>
                    <th>URLS</th>
                    <th>Creación</th>
                    <th>Modificación</th>
                    <th>Anulación</th>
                    <th>Estatus</th>
                </tr>

            </thead>

            <tbody>
                @foreach (var item in Model.mantenimientos)
                {
                    <tr class="context-menu-one-mantTablas" data-id="@item.MantenimientoID" data-nombre="@item.Descripcion" data-url="@item.OpcionURL">

                        <td>@item.MantenimientoID</td>
                        <td>@item.Descripcion</td>
                        <td>@item.OpcionURL</td>
                        <td>@item.FechaCreacion (@item.UsuarioCreacion)</td>
                        <td>@item.FechaActualizacion (@item.UsuarioActualizacion)</td>
                        <td>@item.FechaAnulacion (@item.UsuarioAnulacion)</td>
                        @if (@item.FlagActivo == true)
                        {
                            <td style="color:green;">Activo</td>
                        }
                        else
                        {
                            <td style="color:red;">Inactivo</td>
                        }


                    </tr>

                }
            </tbody>

        </table>




    </div>

</div>



@section DJScripts{

    <script>

    $(document).ready(function () {

        CreateDataTable('tblMantenimientos');

        ChangePostType("#panelTablas", 0, "/Mantenimientos/GuardarOpcionesMant/", "mant tablas", "guardar", "");

    });
    </script>


}